<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyTE.DAL.BD.conexion" connectionString="Data Source=EXPLO-PC\SQLEXPLO;Initial Catalog=TrajesEventuales;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>